<!-- <p id="notice"><%= notice %></p> %> -->
<div class="column is-4 is-offset-4 centered-text">
  <div class="media-center">
    <h1 class="is-size-2">All User Posts</h1>
    </br>
    <% if member_signed_in? %>
      <%= link_to 'New Post', new_post_path, class: "button is-info" %>
    <% end %>
    <% @posts.each do |post| %>
      <div class="box is-12">
        <article class="columns">
          <nav class="column">
            <div class="is-12 has-centered-text is-size-4">
              <%= link_to post.title, post %>
            </div>
            <% if member_signed_in? %>
              <div class="is-12 is-size-6">
                <p><strong>Author:</strong></p>
                <p>
                  <%= post.member.first_name + " " + post.member.last_name + " - " + post.member.email%>
                </p>
              </div>
              <% if current_member.id == post.member_id %>
                <div class="is-4 is-offset-4">
                  <div class="is-size-7"">
                    <%= link_to 'Edit', edit_post_path(post) %>
                    |
                    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </nav>
        </article>
      </div>          
    <% end %>
    <br>
  </div>
</div>
